.env_db
.env_api


# Folder .pytest_cache and its content
.pytest_cache/*
__pycache__/
*.pyc


# Folder .vscode and its content
.vscode/*

# Folder .idea and its content
.idea/*

# Folder .git and its content
.git/*

# Folder .gitignore and its content
.gitignore


# Ignore converter/__pycache__/currancy.cpython-311.pyc
!converter/__pycache__/currancy.cpython-311.pyc
